* { margin: 0; padding: 0; box-sizing: border-box; }

html,
body {
    background: #040202;
}

input[type="range"] {

    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: 300px;

    background: transparent;
    -webkit-appearance: none;
    transform: translateX(-50%) translateY(-50%);

}
input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {

    width: 40px;
    height: 40px;
    margin-top: -18px;

    cursor: pointer;
    background: white;
    border: 4px solid #040202;
    border-radius: 50%;
    -webkit-appearance: none;

}

input[type="range"]::-webkit-slider-runnable-track {

    width: 100%;
    height: 2px;

    cursor: pointer;
    background: #F5867A;
    border-radius: 1px;

}
